@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';
	
@font-face {
    font-family: 'galada';
    src: url('../assets/fonts/galadaFont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'capriola';
    src: url('../assets/fonts/capriolaFont.ttf');
    font-weight: normal;
    font-style: normal;
}

.no-underline {
  text-decoration: none;
}

.box-container {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.loadmore-button-container {
  float: left;
  width: 100%;
  margin-top: 40px;
  text-align: center;

  .load-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9ABEF7;
    height: 55px;
    line-height: 2;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'capriola', sans-serif;

    .increase-font-size {
      font-size: 25px;
      line-height: 1;
    }
  }
}

.medium {
  width: 47.5%;
  float: left;
  height: 350px;
  margin-top: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.marginL {
    margin-left: 5%;
  }
}

.fiftyPerc {
  width: 50%;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.bold {
  font-weight: bold;
  &.large {
    font-size: 55px;
  }
}

.learn-more {
  width: inherit;
  float: right;
  font-size: 25px;
  margin-right: 22px;
  margin-top: 15px;
  text-decoration: underline;
  font-family: 'capriola', sans-serif;

  &.dashboard {
    margin-right: -80px;
  }
}

.learn-more:hover {
  color: red;
}

.top-bar {
  padding: 0px;
  margin: 0px;
  height: 50px;
  opacity: 60;

  .login-icon {
    float: left;
    padding-right: 10px;
    font-size: 35px;
    margin-top: -7px;
  }

  .logo-name {
    width: inherit;
    float: left;
    margin-left: 3px;
    margin-top: 8px;
    font-size: 31px;
    font-family: 'galada', sans-serif;
    color: black;
  }

  .login {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: inherit;
    height: inherit;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
  }

  .login:hover {
    color: red;
  }

  .logout {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: inherit;
    height: inherit;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
    float: right;
  }

  .top-menu-bar {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    width: 220px;
  }

  .logo-icon {
    width: inherit;
    float: left;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
  }

  .signup {
    color: black;
    font-size: 25px;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
  }
  .signup:hover {
    color: red;
  }
}

.span-float-right {
	position: relative;
  float: right;
  padding-right: 30px;
  color: #3D3DF1;
  cursor: pointer;
}

.text-center {
	text-align: center;

	&.padding-top {
		padding-top: 10px;
		font-size: 18px;
	}
}

.underline {
	text-decoration: underline;
}

.signup-titles {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

  &.bold {
    font-weight: bold;
  }
}

.signup-container {
	width: 100%;    
	min-height: 587px;
	height: 100%;
	margin-left: -8px;
	padding-right: 16px;

	.signup-question {
		text-align: center;
    font-size: 25px;
    color: black;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	}
  
  .signup-background1{
    width: 100%;
    min-height: 587px;
    height: inherit;
    position: fixed;
    background-image: url("images/people-office-group-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -8px;
    padding-right: 16px;
  }

  .signup-background2{
    width: 100%;
    min-height: 587px;
    position: fixed;
    height: inherit;
    background-image: url("images/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    margin-left: -8px;
    padding-right: 16px;
  }

  .background{
    opacity: 0.75;
    width: 70%;
    height: 70%;
    position: relative;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    background-color: white;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

	.courses-container {
		width: 60%;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    min-height: 75px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

    .course-list {
      border-style: solid;
	    padding-left: 30px;
	    line-height: 1.5;
	    padding-bottom: 10px;
    }
	}
}

.signup-buttons {
  text-align: center;
  padding-top: 30px;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  /*background-color: white;*/
  background-color: transparent;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 15px;
}

.button {
  text-decoration: none;
  padding: 10px 40px;
  margin-left: 20px;
  margin-right: 20px;  
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px #171717;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  box-shadow: 3px 3px 5px #615D5D;

  &.black {
  	background-color: #d81f37;
  }
  &.gold {
  	background-color: #3d3df1;
  }
}

.inputbox {
  width: 50%;
  font-size: 25px;
  height: 25px;
  color: black;
  border-bottom-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 2px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}

.display-password-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: black;
  font-weight: bold;

  .text {
  	position: relative;
    top: -6px;
    padding-left: 5px;
  }
}

.already-signedup {
	text-align: center;
  background-color: #F5F545;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-right: -8px;
  font-weight: bold;
}

.powerselect {
	width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  width: 100%;
  min-height: 587px;
  height: inherit;
  background-color: #FF9800;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  text-align: center;
  font-size: 31px;
  font-family: 'galada', sans-serif;
}

.modal-footer {
  padding: 4px 16px;
  background-color: #5cb85c;
  color: white;
}
