@import "ember-power-select";
	
.bold {
	font-weight: bold;
	&.large {
  	font-size: 45px;
	}
}

.underline {
	text-decoration: underline;
}

.signup-container {
	width: 100%;    
	height: 587px;
	background-color: #D96459;
	margin-left: -8px;
	padding-right: 16px;

	.signup-titles {
		color: white;
    text-shadow: 2px 2px #171717;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
	}
	.signup-question {
		text-align: center;
    font-size: 25px;
    color: white;
    padding-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 2px #171717;
	}
}

.powerselect {
	width: 50%;
  margin-left: auto;
  margin-right: auto;
}
