@import "ember-power-select";
	
.bold {
	font-weight: bold;
	&.large {
  	font-size: 55px;
	}
}

.span-float-right {
	position: relative;
  float: right;
  padding-right: 30px;
  color: #3D3DF1;
  cursor: pointer;
}

.text-center {
	text-align: center;

	&.padding-top {
		padding-top: 10px;
		font-size: 18px;
	}
}

.underline {
	text-decoration: underline;
}

.signup-container {
	width: 100%;    
	height: 587px;
	background-color: #F44336;
	margin-left: -8px;
	padding-right: 16px;

	.signup-titles {
		color: white;
    text-shadow: 1px 2px #171717;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	}
	.signup-question {
		text-align: center;
    font-size: 25px;
    color: white;
    padding-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 2px #171717;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	}
	.courses-container {
		width: 50%;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    min-height: 75px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

    .course-list {
	    padding-left: 30px;
	    line-height: 1.5;
	    padding-bottom: 10px;
    }
	}
}

.button {
	width: 200px;
	background-color: red;
}

.powerselect {
	width: 50%;
  margin-left: auto;
  margin-right: auto;
}
