@import "ember-power-select";
	
@font-face {
    font-family: 'galada';
    src: url('../assets/fonts/galadaFont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'capriola';
    src: url('../assets/fonts/capriolaFont.ttf');
    font-weight: normal;
    font-style: normal;
}

.no-underline {
  text-decoration: none;
}

.box-container {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.loadmore-button-container {
  float: left;
  width: 100%;
  margin-top: 40px;
  text-align: center;

  .load-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9ABEF7;
    height: 55px;
    line-height: 2;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'capriola', sans-serif;

    .increase-font-size {
      font-size: 25px;
      line-height: 1;
    }
  }
}

.medium {
  width: 47.5%;
  float: left;
  height: 350px;
  margin-top: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.marginL {
    margin-left: 5%;
  }
}

.fiftyPerc {
  width: 50%;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.bold {
  font-weight: bold;
  &.large {
    font-size: 55px;
  }
}

.learn-more {
  width: inherit;
  float: right;
  font-size: 25px;
  margin-right: 22px;
  margin-top: 15px;
  text-decoration: underline;
  font-family: 'capriola', sans-serif;

  &.dashboard {
    margin-right: -80px;
  }
}

.learn-more:hover {
  color: red;
}

.top-bar {
  padding: 0px;
  margin: 0px;
  height: 50px;
  opacity: 60;

  .login-icon {
    float: left;
    padding-right: 10px;
    font-size: 35px;
    margin-top: -7px;
  }

  .logo-name {
    width: inherit;
    float: left;
    margin-left: 3px;
    margin-top: 8px;
    font-size: 31px;
    font-family: 'galada', sans-serif;
    color: black;
  }

  .login {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: inherit;
    height: inherit;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
  }

  .login:hover {
    color: red;
  }

  .logout {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: inherit;
    height: inherit;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
    float: right;
  }

  .top-menu-bar {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    width: 220px;
  }

  .logo-icon {
    width: inherit;
    float: left;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
  }

  .signup {
    color: black;
    font-size: 25px;
    margin-top: -10px;
    font-family: 'capriola', sans-serif;
  }
  .signup:hover {
    color: red;
  }
}

.span-float-right {
	position: relative;
  float: right;
  padding-right: 30px;
  color: #3D3DF1;
  cursor: pointer;
}

.text-center {
	text-align: center;

	&.padding-top {
		padding-top: 10px;
		font-size: 18px;
	}
}

.underline {
	text-decoration: underline;
}

.signup-titles {
  color: white;
  text-shadow: 1px 2px #171717;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

  &.bold {
    font-weight: bold;
  }
}

.signup-container {
	width: 100%;    
	min-height: 587px;
	height: inherit;
	background-color: #F44336;
	margin-left: -8px;
	padding-right: 16px;

	.signup-question {
		text-align: center;
    font-size: 25px;
    color: white;
    padding-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 2px #171717;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	}
	.courses-container {
		width: 50%;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    min-height: 75px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

    .course-list {
	    padding-left: 30px;
	    line-height: 1.5;
	    padding-bottom: 10px;
    }
	}
}

.signup-buttons {
  text-align: center;
  padding-top: 80px;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 15px;
}

.button {
  text-decoration: none;
  padding: 10px 40px;
  margin-left: 20px;
  margin-right: 20px;  
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px #171717;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  box-shadow: 3px 3px 5px #615D5D;

  &.black {
  	background-color: #212121;
  }
  &.gold {
  	background-color: #FF9800;
  }
}

.inputbox {
  width: 50%;
  font-size: 25px;
  height: 25px;
}

.display-password-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: white;
  font-weight: bold;

  .text {
  	position: relative;
    top: -6px;
    padding-left: 5px;
  }
}

.already-signedup {
	text-align: center;
  background-color: #F5F545;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-right: -8px;
  font-weight: bold;
}

.powerselect {
	width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  width: 100%;
  min-height: 587px;
  height: inherit;
  background-color: #FF9800;
}
