<div class="top-bar">
	<div class="logo-icon">{{fa-icon "graduation-cap"}}</div><h2 class="logo-name">WeStudy</h2>
	<div class="top-menu-bar">
		{{#if session.isAuthenticated}}
			<a {{action 'logout'}}>LOGOUT</a>
		{{else}}
			{{#link-to 'login' class="login"}}LOGIN{{/link-to}}
		{{/if}}
	</div>
</div>
{{outlet}}
