
<div class="aboutus-page">
	<div class="aboutus-block">
		<div class="aboutus-title">Mission</div>

	<hr class="aboutus-lineDividers" size="1px">

		We understand the many challenges faced by so many students now-a-days.The stress of school can be overwhelming.
		<br>
		<br>


		Thats why we invented INSERT_NAME with the goal of helping students that are stuggling in classes or just looking
		to meet new people.
		<br>
		<br>
		Whether you are in your first year or your last year, INSERT_NAME can provide you with the
		<br>
		opportunity to discover your potential and meet new people in the process.

		<br>
		<br>



		<!--  KEEPING THIS BECAUSE WE COULD ACTUALLY USE IT FOR THE RESET PASSWORD PAGE<div class="text-left">
			{{input type="text" value=CurrentPassword class="inputbox" maxlength="85" placeholder=""}}
		</div>
		<br>
		-->

		<!--<div class="text-left">
		{{input type="text" placeholder="" value=NewPassword type="password" class="inputbox" maxlength="16"}}

		</div>

		<br>
		Verify password:
		<div class="text-left">
			{{input type="text" placeholder="" value=NewPassword2 type="password" class="inputbox" maxlength="16"}}

		</div>
		<br><br>
		<a class="login-buttons resetpassword" {{action 'ChangePassword'}}>
			Reset Password
		</a>
		-->


	</div>

	<div class="aboutusBlock">
		<div class="aboutus-title">About Us</div>
		<hr class="aboutus-lineDividers" size="1px">
		We are a small team of 5 developers. <br>
		Gareth Huang <br> Javin Ambridge <br> Aaron Lau <br> Teo Mastronardi <br> Jason Goodison (obvs the best) <br> <br>
		We are computer science majors at the University of Waterloo. We can be contacted at OUR_EMAIL_FOR_THIS for any issues, questions or if you are looking to get involved in development.
	
		<!-- right now this is just a place holder, obviously we dont want the height to be dependent on line breaks-->

	</div>
</div>
