<div class="reset-page">
	<div class="reset-block">
		<div class="reset-title">Reset Your Password </div>
	<hr class="login-lineDividers" size="1px">

		Please enter your current password:
		<div class="text-left">
			{{input type="text" value=CurrentPassword class="inputbox" maxlength="85" placeholder=""}}
		</div>
		<br>
		Enter your new password:
		<div class="text-left">
			{{input type="text" value=NewPassword class="inputbox" maxlength="85" placeholder=""}} 
		</div>
		<br>
		Verify password:
		<div class="text-left">
			{{input type="text" value=VerifyPassword class="inputbox" maxlength="85" placeholder=""}}
		</div>
		<br><br>


	</div>
</div>